<h1> Signup </h1>

<form action='/registered' method='POST'>
  <label for='email'>
    Email:
    <input type='text' name='email' />
  </label>
  <label for='password'>
    Password:
    <input type='text' name='password' />
  </label>
  <input type='submit' value='Register'>
</form>
