<h1> Signup </h1>

<% if flash[:error] %>
  <div id='error'><%= flash[:error] %></div>
<% end %>


<form action='/user' method='POST'>
  <label for='email'>
    Email:
    <% if flash[:error] %>
      <input type='text' name=<%= @repeat_email %> />
    <% else %>
      <input type='text' name='email' />
    <% end %>
  </label>
  <label for='password'>
    Password:
    <input type='text' name='password' />
  </label>
  <label for='password_confirmation'>
    Confirm password:
    <input type='text' name='password_confirmation' />
  </label>
  <input type='submit' value='Register'>
</form>
